<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
  <servlet>
    <servlet-name>chart</servlet-name>
    <servlet-class>org.xinvest.examples.Chart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart</servlet-name>
    <url-pattern>/chart</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>path</servlet-name>
    <servlet-class>org.xinvest.examples.Path</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>path</servlet-name>
    <url-pattern>/path</url-pattern>
  </servlet-mapping>
  
	<servlet>
        <servlet-name>loanservlet</servlet-name>
        <servlet-class>org.xinvest.servlets.LoanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loanservlet</servlet-name>
        <url-pattern>/loan/loanservlet</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>userservlet</servlet-name>
        <servlet-class>org.xinvest.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userservlet</servlet-name>
        <url-pattern>/user/userservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>WebQuotesServlet</servlet-name>
        <servlet-class>org.xinvest.servlets.WebQuotesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebQuotesServlet</servlet-name>
        <url-pattern>/webquotes/WebQuotesServlet</url-pattern>
	</servlet-mapping>
	
		<servlet>
        <servlet-name>QuoteServlet</servlet-name>
        <servlet-class>org.xinvest.servlets.QuoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuoteServlet</servlet-name>
        <url-pattern>/quote/QuoteServlet</url-pattern>
	</servlet-mapping>

</web-app>
